:host {
    display: block;
    height: calc(100vh - 40px);
    margin: 20px 20px 20px 20px;    
    background-color:#fff;
}

:host .editor {
    height: calc(100vh - 82px);
}


.ql-container.ql-snow {
    border: 1px solid #fff;
}