:host {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr min-content;
    grid-gap:20px;
    margin:20px;
    height:calc(100% - 20px);
}

ce-landing-page .ql-toolbar.ql-snow {
    border: 1px solid #fff !important;
}